/*初始化*/

html,
body {
	font-size: 22px;
	color: #313131;
}

@media screen and (max-width: 360px) {
	html,
	body {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	html,
	body {
		font-size: 26px;
	}
}

@media screen and (max-width: 320px) {
	html,
	body {
		font-size: 16px;
	}
}

* {
	margin: 0px;
	padding: 0;
	font-family: "微软雅黑";
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

img {
	pointer-events: none;
}

textarea,
input {
	padding: 0px;
	border: none;
	outline: none;
	resize: none;
}


/*字体颜色渐变*/

.fontColor {
	color: #d7013f;
	background: -webkit-linear-gradient(left, #d7013f, #dc4731);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #d7013f, #dc4731);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #d7013f, #dc4731);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #d7013f, #dc4731);
	/* 标准的语法 */
	-webkit-background-clip: text;
	color: transparent;
}

.bgColor {
	background: #d7013f;
	background: -webkit-linear-gradient(left, #d7013f, #e47a62);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #d7013f, #e47a62);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #d7013f, #e47a62);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #d7013f, #e47a62);
	/* 标准的语法 */
}


/*清除浮动*/

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}


/*flex布局*/

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


/*文字超出一行、多行显示省略号*/

.text-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}


/*主体内容*/

.body-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
}

.scrollContent {
	overflow-y: scroll;
	width: calc(100% - 1.4rem);
	max-height: 100%;
	padding: 0 0.7rem;
}

.body-container.bg {
	background-color: #f8f8f8;
}


/*路由过渡*/

.fade-enter-active {
	transition: all .5s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}


/*按钮*/

.cube-btn {
	height: 2rem;
	line-height: 2rem;
	padding: 0;
	border-radius: 1rem;
	font-size: 0.8rem;
}

.cube-btn.color,
.colorBg {
	background: #db3749;
	background: -webkit-linear-gradient(left, #e25c34, #db3749);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #e25c34, #db3749);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #e25c34, #db3749);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #e25c34, #db3749);
	/* 标准的语法 */
}

.cube-btn.white {
	background: #fff;
	color: #313131;
}

.cube-btn.none {
	background: none;
	color: #313131;
}

.cube-btn.gray {
	background: #d5d5d5;
	color: #000;
}

.fixedBtns {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.3rem 1rem;
	background: #fff;
	border-top: 1px solid #d5d5d5;
	z-index: 99;
}

.fixedBtns button {
	margin: 0 0.5rem;
	line-height: 1.8rem;
	height: 1.8rem;
	font-size: 0.7rem;
}


/*	tab*/

.cube-tab-bar {
	border-bottom: 0.3rem solid #ccc;
}

.cube-tab_active {
	color: #f65200;
}


/*标题*/

.title {
	font-size: 0.9rem;
	line-height: 2rem;
	font-weight: bold;
}

/*checkBox*/
.cube-checkbox-label{
	width:calc(100% - 1.42em);
}

